body {
  width: 800px;
  margin-left: 100px;
  background-color: #EEE;
}

.green {
  color: green
}

.warning {
  color: red
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

thead {
  border-bottom: 1px solid black;
}

th {
  border-left: 1px solid black;
  padding: 2px;
}

td {
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
  padding: 2px;
}

.dragbox {
  background-color: #CCF;
  height: 13px;
  padding-right: 3px;
  padding-left: 2px;
  float: left;
  font: 11px sans-serif;
  cursor: move;
  position: absolute;
}